.navbar {
    height: 8vh;
}

.homeSection {
    height: 92vh;

}

.pageSection {
    margin-top: 8vh;
}

.sidebar {
    float: left;
}

.home-container {
    background-image: url(./images/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.home-tab-section {
    background-color: white;
    padding: 6%;
    box-shadow:
        inset 5px 5px 10px #000000,
        inset -5px -5px 10px #000000;

}

.tab-button {
    border-radius: 0 !important;
}

.tabselected {
    background-color: white !important;
    color: black !important;
}

.error {
    color: #db2269;
    font-size: 0.625em;
    display: relative;
}

.custom-form-item {
    height: 6vh;
    width: 100%;
}

.custom-dropdown {
    border-color: rgb(206, 212, 218);
}

.custom-checkox {
    border-color: rgb(206, 212, 218);
}

.starimage {
    height: 18px;
    width: 18px;
    padding-bottom: 4px;
}

.custom-anchor {
    text-decoration: none;
    color: black;
}

.disbled-span {
    color: #a79c9c !important;
}

.custom-flex {
    width: 100% !important;
    display: inline-block !important;
}

.dashboard-card {
    width: 22% !important;
    margin-right: 2%;
    margin-top: 2px;
    min-height: 22vh !important;
}

.product-title {
    height: 6vh;
}

.custom-gyphicon {
    color: white !important;
    font-size: 60px;
    color: lightblue;
    text-shadow: 2px 2px 4px #000000;
}